VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_TEMPLATE_LANGUAGE_CODE=en
WHATSAPP_CUSTOMER_TEMPLATE_NAME=coupon_trail3
WHATSAPP_CUSTOMER_TEMPLATE_LANGUAGE_CODE=
WHATSAPP_WINNER_TEMPLATE_NAME=coupon_winner
WHATSAPP_WINNER_TEMPLATE_LANGUAGE_CODE=en
